! xterm ----------------------------
xterm*faceName:		Terminus:style=Regular:size=10
xterm*dynamicColors:	true
xterm*background:	#222222
xterm*foreground:	green
xterm*locale:		true
xterm*selectToClipboard:true

! xcursor -------------------------
Xcursor.theme:		Vanilla-DMZ-AA
Xcursor.size:		18
