! xterm ----------------------------
xterm*faceName:		Terminus:style=Regular:size=10
xterm*dynamicColors:	true
xterm*background:	black
xterm*foreground:	green

! xcursor -------------------------
Xcursor.theme:		Vanilla-DMZ-AA
Xcursor.size:		18
